@tailwind base;
@tailwind components;
@tailwind utilities;

ActionBar {
  background-color: #65adf1;
  color: white;
}

/* .action-item {
  font-size: 'large'
} */
.mdi {
  font-family: 'Material Design Icons', 'Material-Design-Iconic-Font';
  font-weight: 400;
  font-size: 24;
}

.fontello {
  font-family: 'Fontello', 'fontello';
  font-weight: 400;
}

.fa-brands {
  font-family: 'Fa Brands 400', 'fa-brands-400';
  font-weight: 400;
}


.fa-regular {
  font-family: 'Fa Regular', 'fa-regular-400';
  font-weight: 400;
}


.fa-solid {
  font-family: 'fa-solid', 'fa-solid-900';
  font-weight: 900;
}


.fa-v4compatibility {
  font-family: 'Fa V4compatibility', 'fa-v4compatibility';
  font-weight: 400;
}
